.img-placeholder video {
    min-width: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: relative;
    object-fit: fill;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.clear {
    clear: both
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.alignright {
    float: right;
    padding: 0 0 10px 10px
}

.alignleft {
    float: left;
    padding: 0 10px 10px 0
}

a {
    color: #5A4DAE;
    text-decoration: none;
}

a:visited { text-decoration: none; color:#5A4DAE; }
a:hover { text-decoration: none; color:#5A4DAE; }
a:focus { text-decoration: none; color:#5A4DAE; }
a:hover, a:active { text-decoration: none; color:#5A4DAE }

body,
html {
    height: 100%;
    position: relative;
    background: #F7F7F6;
    overflow-x: hidden;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#body-wrapper {
    padding-top: 60px;
    background-color: #F7F7F6;
    line-height: 1.428571429;
    z-index: 0;
}

.container-fluid {
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
}

.big-title {
    font-family: 'adelle-sans',sans-serif;
    font-size: 55px;
    letter-spacing: 0.02em;
    color: #2A2B33;
    max-width: 70vw;
    margin-top: 25px;
    margin-bottom: 12.5px;
    padding-bottom: 90px;
    z-index: 1;
    outline: none;
}

.big-title>a {
    color: #858A9C;
    text-decoration: none;
}

.big-title>a:visited { text-decoration: none; color:#858A9C; }
.big-title>a:hover { text-decoration: none; color:#858A9C; }
.big-title>a:focus { text-decoration: none; color:#858A9C; }
.big-title>a:hover, a:active { text-decoration: none; color:#858A9C }

h2 {
    font-family: 'adelle-sans',sans-serif;
    letter-spacing: 0.02em;
    font-size: 55px;
    color: #2A2B33;
    margin-top: 25px;
    margin-bottom: 12.5px;
    outline: none;
}

h3 {
    font-family: 'adelle-sans',sans-serif;
    letter-spacing: 0.02em;
    font-size: 28px;
    color: #2A2B33;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    outline: none;
}

p {
    margin: 0 0 12.5px;
}

.header-link-selector {
    border-bottom: 6px solid rgba(133, 138, 156, 0); 
    /*#2a2e85*/
    -webkit-transition: border 0.2s ease;
    -moz-transition: border 0.2s ease;
    -ms-transition: border 0.2s ease;
    -o-transition: border 0.2s ease;
     transition: border 0.2s ease;
}

.header-link-selector:hover {
    border-bottom: 6px solid rgba(133, 138, 156, 1);
}

.link-selector {
    border-bottom: 6px solid rgba(90, 77, 174, 0); 
    /*#2a2e85*/
    -webkit-transition: border 0.2s ease;
    -moz-transition: border 0.2s ease;
    -ms-transition: border 0.2s ease;
    -o-transition: border 0.2s ease;
     transition: border 0.2s ease;
}

.link-selector:hover {
    border-bottom: 6px solid rgba(90, 77, 174, 1);
}

.link-selector-inline {
    border-bottom: 2px solid rgba(90, 77, 174, 0);
    -webkit-transition: border 0.2s ease;
    -moz-transition: border 0.2s ease;
    -ms-transition: border 0.2s ease;
    -o-transition: border 0.2s ease;
     transition: border 0.2s ease;
}

.link-selector-inline:hover {
    border-bottom: 2px solid rgba(90, 77, 174, 1);
}

.link-selector-footer {
    border-bottom: 3px solid rgba(133, 138, 156, 0);
    -webkit-transition: border 0.2s ease;
    -moz-transition: border 0.2s ease;
    -ms-transition: border 0.2s ease;
    -o-transition: border 0.2s ease;
     transition: border 0.2s ease;
}

.link-selector-footer:hover {
    border-bottom: 3px solid rgba(133, 138, 156, 1);
}

.link-selector-inline-booking {
    font-size: 24px;
}

.nav-container {
    margin-top: 25px;
    z-index: 0;
    position: fixed;
    top: 60px;
    right: 6vw;
    z-index: 0;
}

.nav {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #2A2B33; 
    position: absolute;
    width: 98%;
    text-align: right;
    padding-left: 0px;
    margin-top: 20px;
    z-index: 0;
}

.nav>li a{
    display: block;
}

.material-icons {
    color: #2A2B33; 
}

.nav-logo {
    color: #77798E;
    width: 50px;
}

.img-placeholder {
    object-fit: fill;
    z-index: 2;
    padding-top: 45px;
}

.img-placeholder img{
    width: 100%;
    z-index: 2;
}

.row {
    display: block;
    margin-left: -30px;
    margin-right: -30px;
}

.column-full {
    width: 100%;
    padding-top: 45px;
    position: relative;
    float: left;
    min-height: 1px;
    padding-left: 30px;
    padding-right: 30px;
}

.column-full>p:first-child {
    margin-top: 0px;
}

.column-full>p {
    font-family: "mplus-1m",monospace;
    font-weight: 200;
    font-size: 18px;
    color: #2A2B33;
    margin-top: 25px;
}

.column-l {
    width: 50%;
    padding-top: 30px;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 30px;
    padding-right: 30px;
}

.column-l>p {
    font-family: "mplus-1m",monospace;
    font-weight: 200;
    font-size: 18px;
    color: #2A2B33;
    margin-top: 25px;
}

.column-r {
    width: 50%;
    padding-top: 30px;
    float: right;
    position: relative;
    min-height: 1px;
    padding-left: 30px;
    padding-right: 30px;
}

.column-r>p {
    font-family: "mplus-1m",monospace;
    font-weight: 200;
    font-size: 18px;
    color: #2A2B33;
    margin-top: 25px;
}

.column-r img {
    width: 100%;
    margin-top: 25px;
}

.icons {
    text-align: center;
    /*font-size: 24px;*/
    color: #2A2B33;
    padding-top: 12.5px;
}

.icons>a {
    color: #858A9C;
    text-decoration: none;
}

.icons>a:visited { text-decoration: none; color:#858A9C; }
.icons>a:hover { text-decoration: none; color:#858A9C; }
.icons>a:focus { text-decoration: none; color:#858A9C; }
.icons>a:hover, a:active { text-decoration: none; color:#858A9C }

.icons>a:before {
    content: "";
    opacity: .8;
    transition: opacity .4s ease,transform .5s ease
}

.icons>a:hover:before {
    opacity: 0;
    transform: scale(1.6)
}

.icons>a:hover i.fa {
    animation: .6s slide-icon cubic-bezier(.694,.048,.335,1) 0s
}

.icons>a:focus {
    opacity: .85
}

.icons>a i {
    font-size: 1.8em;
    padding-left: 8px;
    padding-right: 8px;
}

@keyframes slide-icon {
    49% {
        transform: translateY(-30px);
        opacity: 0
    }

    50% {
        transform: translateY(30px)
    }

    80% {
        transform: translateY(0);
        opacity: 1
    }
}

h3>a {
    color: #858A9C;
    text-decoration: none;
}

h3>a:visited { text-decoration: none; color:#858A9C; }
h3>a:hover { text-decoration: none; color:#858A9C; }
h3>a:focus { text-decoration: none; color:#858A9C; }
h3>a:hover, a:active { text-decoration: none; color:#858A9C }

/********************************
music-producer
********************************/

.mp-title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #ececec;

    position: absolute;
    top: 15%;
    left: 5%;
    max-width: 85.3vw;
    z-index: 1;
    line-height: 1.2;
}

.mp-text-container {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #ececec;

    margin: 0 auto;
    max-width: 1200px;
    text-align: left;
    padding-top: 180px;
    z-index: 0;
    line-height: 1.4;
}

.mp-text {
    padding-left: 350px;
}

/********************************
independent-artist
********************************/

.ia-title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #ececec;

    position: absolute;
    top: 15%;
    left: 5%;
    max-width: 85.3vw;
    z-index: 1;
    line-height: 1.2;
}

.ia-text-container {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #ececec;

    margin: 0 auto;
    max-width: 1200px;
    text-align: left;
    padding-top: 180px;
    z-index: 0;
    line-height: 1.4;
}

.ia-text {
    padding-left: 350px;
}

/*iPads ----------- */
@media screen and (min-width: 768px) {
    .container-fluid {
        margin: 0 auto;
        padding-left: 75px;
        padding-right: 75px;
    }

    .img-placeholder>iframe {
        height: 500px !important;
    }

    .img-placeholder>video {
        height: 700px;
    }
}

/* Desktops and laptops ----------- */
@media screen and (min-width: 1224px) {
    .container-fluid {
        margin: 0 auto;
        padding-left: 150px;
        padding-right: 150px;
    }

    .img-placeholder>iframe {
        height: 750px !important;
    }

    .img-placeholder>video {
        height: auto;
    }
}

/* Large screens ----------- */
@media only screen and (min-width: 1750px) {
/* Styles */
    .big-title{
        font-size: 70px;
    }
}


